.login-page{
    background-image: url(https://scontent.flim1-2.fna.fbcdn.net/v/t39.30808-6/460467919_18245933917282716_4574190783442827013_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFNTc0VLSDVcLYBkURDuKyTQomAVJp71n5CiYBUmnvWfjiuN69eeineELZFsV2TNAtsy2y1wk1hzxamxb_ZeO9X&_nc_ohc=mV-4X6E4TYMQ7kNvgGFmCVu&_nc_ht=scontent.flim1-2.fna&_nc_gid=A4V5arLy8kGDMCX5VEksau3&oh=00_AYAKCD-OM2Viw1OX6ZpLwjVTiSb8mY-GS3qZjpXfq76w2g&oe=67051828);
    background-repeat: no-repeat;
    background-size: 100%;
}
