.login-page{
    background-image: url(https://scontent.flim1-2.fna.fbcdn.net/v/t39.30808-6/460467919_18245933917282716_4574190783442827013_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFNTc0VLSDVcLYBkURDuKyTQomAVJp71n5CiYBUmnvWfjiuN69eeineELZFsV2TNAtsy2y1wk1hzxamxb_ZeO9X&_nc_ohc=IJ3EuIcvZQoQ7kNvgGZLm6m&_nc_ht=scontent.flim1-2.fna&_nc_gid=Af6jqQzfFW9eEogHOxHvgci&oh=00_AYBmJCgTRtMsE4rn_It3ZxZUs8W7C6SMlyubO0QtFN5-9g&oe=66FB6D28);
    background-repeat: no-repeat;
    background-size: 100%;
}
