<div class="modal fondo-modal" [ngClass]="modalSer.getOcultarModal2()?'':'modal-display-block'" id="modal-lg-2"
    role="dialog">
    <div class="modal-dialog animate__animated animate__fadeInDown">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Registrar Nueva Categoría</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="formCategoria" (ngSubmit)="submit()" autocomplete="off" [formGroup]="formCategoria">
                <div class="modal-body">

                    <label>NOMBRE DE LA CATEGORÍA *</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre de la Categoría"
                        name="nombre" formControlName="nombre"
                        [ngClass]="{'is-invalid': _fs.campoNoValido('nombre', formCategoria, formSubmited)}">
                    <span class="error invalid-feedback">Por favor ingrese el nombre del plato a registrar.</span>
                </div>
                <div class="overlay" *ngIf="cargando">
                    <i class="fas fa-2x fa-sync fa-spin"></i>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        (click)="cerrarModal()">Salir</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>