<section class="content ml-3 mr-3">
    <div class="container-fluid animate__animated animate__fadeIn">


        <div class="card card-info card-outline">
            <div class="card-header text-center">
                <h5 class="card-title m-0"><strong>EMPLEADOS</strong></h5>
            </div>
            <div id="cardtools" class="card-tools">


            </div>
            <div class="card-body">
                <button class="btn btn-app bg-green" routerLink="formulario">
                    <i class="fas fa-plus"></i> Nuevo
                </button>
                <button class="btn btn-app bg-success" (click)="listarTipos(activo)" [disabled]="cargando">
                    <i class="fas fa-check-circle"></i> ACTIVOS
                </button>
                <button class="btn btn-app bg-danger" (click)="listarTipos(inactivo)" [disabled]="cargando">
                    <i class="fas fa-times-circle"></i> INACTIVOS
                </button>
                <button class="btn btn-app bg-primary" (click)="listar()" [disabled]="cargando">
                    <i class="fab fa-canadian-maple-leaf"></i> TODO
                </button>
                <div class="table-responsive">
                    <table id="example1" class="table table-hover border">
                        <thead>
                            <tr class="text-center bg-info">
                                <th>#</th>
                                <th>NOMBRES Y APELLIDOS</th>
                                <th>F. NACIMIENTO</th>
                                <th>DOCUMENTO</th>
                                <th>GENERO</th>
                                <th>ESTADO CIVIL</th>
                                <th>CELULAR</th>
                                <th>EMAIL</th>
                                <th>FECHA REGISTRO</th>
                                <th>CARGO</th>
                                <th>DISTRITO</th>
                                <th>ESTADO</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="text-center" *ngIf="cargando">
                                <th colspan="13">
                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                    <span>Cargando</span>
                                </th>
                            </tr>

                            <tr *ngFor="let empleado of empleados" class="animate__animated animate__fadeIn">
                                <td class="text-center align-middle">
                                    {{ empleado.id }}
                                </td>
                                <td class="align-middle">
                                    {{ empleado.nombres + ' ' + empleado.apellidos}}
                                </td>
                                <td class="text-center align-middle">
                                    {{empleado.fecha_nac}}
                                </td>
                                <td class="text-center align-middle">
                                    {{ empleado.num_doc}}
                                </td>
                                <td class="text-center align-middle">
                                    {{ empleado.genero}}
                                </td>
                                <td class="text-center align-middle">
                                    {{ empleado.estado_civil}}
                                </td>
                                <td class="text-center align-middle">
                                    {{ empleado.celular}}
                                </td>
                                <td class="text-center align-middle">
                                    {{ empleado.email}}
                                </td>
                                <td class="text-center align-middle">
                                    {{ empleado.fecha_registro | date: 'dd/MM/yyyy HH:mm'}}
                                </td>
                                <td class="text-center align-middle">
                                    {{ empleado.cargo.nombre}}
                                </td>
                                <td class="text-center align-middle">
                                    {{ empleado.distrito.nombre}}
                                </td>
                                <td class="text-center align-middle">
                                    <span class="badge pl-4 pr-4"
                                        [ngClass]="empleado.estado === 'ACTIVO'?'bg-success':'badge-danger'">
                                        {{empleado.estado}}
                                    </span>
                                </td>
                                <td class="text-center ">
                                    <button type="button" class="btn bg-yellow btn-xs  mr-2 pl-4 pr-4 btn-block"
                                        [routerLink]="['formulario',empleado.id]"> <i class="fas fa-edit mr-1"></i>
                                        Editar</button>
                                    <button type="button" class="btn bg-danger btn-xs pl-4 pr-4 btn-block"
                                        *ngIf="empleado.estado == 'ACTIVO'" (click)="updateStatus(empleado,false)"> <i
                                            class="fas fa-trash-alt mr-1"></i> Eliminar</button>
                                    <button type="button" class="btn bg-success btn-xs pl-4 pr-4 btn-block"
                                        *ngIf="empleado.estado == 'INACTIVO'" (click)="updateStatus(empleado,true)">
                                        <i class="fas fa-trash-alt mr-1"></i> Activar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</section>